<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>http</string>
		<string>sms</string>
		<string>mailto</string>
		<string>music</string>
		<string>videos</string>
		<string>mqq</string>
		<string>taobao</string>
		<string>alipay</string>
		<string>sinaweibo</string>
		<string>momochat</string>
		<string>weibo</string>
		<string>renren</string>
		<string>QQmusic</string>
		<string>changba</string>
		<string>diditaxi</string>
		<string>imeituan</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>mobike</string>
		<string>ofoapp</string>
		<string>tmall</string>
		<string>openApp.jdMobile</string>
		<string>vipshop</string>
		<string>zhihu</string>
		<string>snssdk141</string>
		<string>newsapp</string>
		<string>qqnews</string>
		<string>ntesopen</string>
		<string>iReader</string>
		<string>tenvideo</string>
		<string>qiyi-iphone</string>
		<string>youku</string>
		<string>sohuvideo</string>
		<string>bilibili</string>
		<string>doubanradio</string>
		<string>kugouURL</string>
		<string>qqmusic</string>
		<string>orpheus</string>
		<string>CtripWireless</string>
		<string>dianping</string>
		<string>wbmain</string>
		<string>elongIPhone</string>
		<string>CtripWireless</string>
		<string>taobaotravel</string>
		<string>wacai</string>
		<string>neteasemail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
